@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
body {
    font-family: 'Source Sans Pro' ,'Helvetica Neue',Helvetica,Arial,sans-serif!important;
}
.page {
    background: #F4F4F4;
}

.page .content {
    padding-bottom: 100px;
}
.total-member {
    border: 1px solid rgba(110,117,130,.2);
    border-radius: 3px;
}
.card-common {
    margin-bottom: 10px!important;
    border: 1px solid #dddddd !important;
}

.card-common.isHideBody .ant-card-body {
  display: none !important
}

.btn-create {
    margin-bottom: 20px;
}

.btn-export {
  margin-bottom: 20px;
}

.custom-arrow {
    position: relative;
}

.custom-arrow .anticon-down {
    position: absolute;
    top: 10px;
    right: 12px;
    opacity: .5;
    pointer-events: none;
}

.anticon svg {
    vertical-align: unset;
}

.quill-editor .ql-container.ql-snow {
    padding: 0 !important;
}

.has__error .errors {
    color: #cd201f;
    padding: 5px 0px 0px;
    display: block;
    font-size: 12px;
}
.has__error .ant-input {
    border: 1px solid #cd201f;
}
.has__error .ant-select-selection {
    border: 1px solid #cd201f;
}

.required {
    display: inline-block;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #DC0000;
    border-radius: 4px;
    margin-left: 10px;
    padding: 1px 6px;
    font-weight: bold;
    margin-top: -2px;
}

.img-thumbnail-150 {
    width: 150px;
    height: 150px;
}

#file-upload .btn-file {
    position: relative;
    overflow: hidden;
}

#file-upload .btn-file input[type=file] {
    cursor: inherit;
    display: block;
    font-size: 50px;
    height: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.btn-secondary {
    color: #fff;
    background-color: #6e7582;
    border-color: #6e7582;
}

#files-popup .ant-modal-content button.ant-modal-close .ant-modal-close-x {
    position: absolute;
    background: #6e7582;
    border-color: #6e7582;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    top: -20px;
    right: -20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), inset 0 2px 0 -1px rgba(255, 255, 255, 0.1);
}

#files-popup .ant-modal-content .ant-modal-body {
    padding: 0;
}

.upload-task .btn.rounded-circle {
    font-size: 15px;
    width: 25px;
    height: 25px;
}

.upload-task .file-upload-preview {
    width: 80px;
    height: 60px;
}

.ant-table-wrapper .ant-table-tbody .inactive {
    color: #aaaaaa;
}

.ant-upload.ant-upload-select-picture-card {
    margin: 0 !important;
}

.ant-card-body .btn {
    padding: 0.4375rem 1rem;
}
.ant-select-selection--multiple {
    min-height: 34px!important;
    height: auto;
}
.ant-input-affix-wrapper {
    height: 36px!important;
}
.ant-select-selection--multiple .ant-select-selection__rendered {
    margin-left: 11px!important;
}
.ant-input, .ant-select-selection {
    min-height: calc(1.4285714286em + 0.875rem);
    padding: 0.1rem 0;
    font-size: 0.875rem;
}
.ant-table-body .badge {
    padding: 6px 9.5px;
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}

.card-footer {
    z-index: 500;
    background: #ffffff;
}

.breadcrumb-item a {
    font-weight: bold;
    color: #206bc4;
}

.locale-changer .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.39rem 0.75rem;
    height: 24px !important;
}
.ql-container {
    padding: 0!important;
}
.form-control-plaintext {
    padding: 0;
}
.invalid-feedback {
    color: #cd201f;
}
.quillWrapper.is-invalid .ql-toolbar, .ql-container {
    border-color: #cd201f;
}

[class*="ql-custom-image"]:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="19" height="19" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect><circle cx="8.5" cy="8.5" r="1.5"></circle><polyline points="21 15 16 10 5 21"></polyline></svg>');
}

[class*="ql-custom-html"]:before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="19" height="19" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg>');
}

.ql-editor strong {
    font-weight: bold;
}

.not-delete {
    opacity: 0.5;
    pointer-events: none;
}
.note-company-code {
    display: block;
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 20px;
    min-height: 21px;
}

#file-list .img-file {
  height: 120px;
  min-height: 120px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-active:before {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  content: "";
  border: 5px solid #206bc4;
  border-radius: inherit;
  background: hsla(0,0%,100%,.3);
}
.movie-content img {
    width: 100%;
}
.check-company {
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    background: #f3f3f3;
    color: #333333;
    margin-bottom: 1rem;
}
.tilde {
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    font-weight: bold;
    margin: 0 7px;
}
